# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
.env/
genai-env/
genai/
genai-devops25/
genai-devops25-env/


# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env

# Misc
*.log
