fastapi
uvicorn
fastapi
uvicorn[standard]
httpx
beautifulsoup4
weaviate-client<4.0.0
langchain
langchain-openai
langchain_community
tiktoken
prometheus-fastapi-instrumentator
pydantic
langchain_huggingface